<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function parseResponseHeaders(headerStr) {
      var headers = {};
      if (!headerStr) {
        return headers;
      }
      var headerPairs = headerStr.split('\u000d\u000a');
      for (var i = 0, len = headerPairs.length; i < len; i++) {
        var headerPair = headerPairs[i];
        var index = headerPair.indexOf('\u003a\u0020');
        if (index > 0) {
          var key = headerPair.substring(0, index);
          var val = headerPair.substring(index + 2);
          headers[key] = val;
        }
      }
      return headers;
    }
    $(document).ready(function () {
        var req = new XMLHttpRequest();
        req.open('GET', document.location, false);
        req.send(null);
        var headers = req.getAllResponseHeaders().toLowerCase();
        var hash = parseResponseHeaders(headers) ;
        $("#referrer").text('Referrer : ' + document.referrer);
        $("#history").text('History : ' + history.length);
//        $("#header_http").text('Headers Http : ' + headers);
        var s = "<br><p>";
        for (var k in hash) {
            // use hasOwnProperty to filter out keys from the Object.prototype
            if (hash.hasOwnProperty(k)) {

                s = s + k + ' = ' + hash[k] + '<br>';
            }
        }
        s = s + '</p>'
        $("#header_http").html('Headers Http : ' + s);
    });


</script>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
<p>
    <div id="referrer"></div>
    <div id="history"></div>
    <div id="header_http"></div>
    </p>
    <%= text_area_tag("data", @data.map { |k, v| "#{k.to_s.ljust(20)} = #{v}" }.join("\n"), rows: 40, cols: 180) %>
  </div>
</div>


