<div id="col1">
  <div class="bandeau">
    <div class="mytable">
      <%= form_for(@search, remote: true) do |f| %>
          <div class="tablecell search_input">
            <%= f.text_field(:keywords,
                             {size: 50, class: "gsc-input", id: "gsc-i-id1", autocomplete: "off", spellcheck: "false",
                              onclick: "$(this).css(\"color\", \"black\");this.value = ''"})

            %>
          </div>

          <div class="tablecell gosearch" style="width:50px">

            <%= f.submit("searches",
                         id: "go",
                         class: "btn btn-default",
                         alt: "Sprite",
                         src: "/images/sprite.svg#search-ico-blue",
                         width: "50px",
                         type: "image")
            %>

          </div>

      <% end %>
      <div class="tablecell logocell" style="width:120px">
        <a href="/">
          <img id="logolilo" src="" height="30" width="86">
        </a>
      </div>
    </div>
  </div>


</div>




