<div class="panel-group">
  <div class="panel panel-default">
    <!-- debut header ----------------------------------------------------------------------------------------------->
    <div class="panel-heading">
      <div class=" text-left">
        <a data-toggle="collapse" href="<%= "#collapse" %>">
          no result
        </a>
      </div>

    </div>
    <!-- debug body ----------------------------------------------------------------------------------------------->
    <div id="<%= "collapse" %>" class="panel-collapse collapse">
      <div class="panel-body">

      </div>
    </div>


    <!-- debut footer ----------------------------------------------------------------------------------------------->
    <div class="panel-footer">

    </div>
  </div>
</div>