<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <div id="results">
    <%= render @results %>
  </div>
  <%= will_paginate @results, :page_links => false %>
</div>