<%= form_for @search, html: { class: "form-inline"} do |f| %>
    <div class="form-group">
      <%= search_field(:keywords, nil, size: 50, class: "form-control") %>
      <%= f.submit "Search", class: "btn btn-default" %>
    </div>

<% end %>
