<script>
    function estVisible(id_element) {
        var cadreVisible = {xMin: 0, xMax: 0, yMin: 0, yMax: 0}, elementVisible = {xMin: 0, xMax: 0, yMin: 0, yMax: 0};
        var source = document.getElementById(id_element), sourceParent = source.offsetParent;
        var total = {hauteur: false, largeur: false}, partiel = {hauteur: false, largeur: false};
        cadreVisible.xMin = window.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft;
        cadreVisible.xMax = window.pageXOffset + window.innerWidth || document.documentElement.scrollLeft + document.documentElement.clientWidth || document.body.scrollLeft + document.body.clientWidth;
        cadreVisible.yMin = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        cadreVisible.yMax = window.pageYOffset + window.innerHeight || document.documentElement.scrollTop + document.documentElement.clientHeight || document.body.scrollTop + document.body.clientHeight;
        elementVisible.xMin = source.offsetLeft;
        elementVisible.yMin = source.offsetTop;
        while (sourceParent) {
            elementVisible.xMin += sourceParent.offsetLeft;
            elementVisible.yMin += sourceParent.offsetTop;
            sourceParent = sourceParent.offsetParent;
        }
        elementVisible.xMax = elementVisible.xMin + source.offsetWidth;
        elementVisible.yMax = elementVisible.yMin + source.offsetHeight;
        if (cadreVisible.xMin <= elementVisible.xMin && cadreVisible.xMax >= elementVisible.xMax) {
            total.largeur = true;
        }
        else if (!(cadreVisible.xMax < elementVisible.xMin || cadreVisible.xMin > elementVisible.xMax)) {
            partiel.largeur = true;
        }
        if (cadreVisible.yMin <= elementVisible.yMin && cadreVisible.yMax >= elementVisible.yMax) {
            total.hauteur = true;
        }
        else if (!(cadreVisible.yMax < elementVisible.yMin || cadreVisible.yMin > elementVisible.yMax)) {
            partiel.hauteur = true;
        }
        if (total.largeur && total.hauteur) {
            return true;
        }
        else if (total.largeur && partiel.hauteur) {
            return true;
        }
        else if (total.hauteur && partiel.largeur) {
            return false;
        }
        else if (partiel.hauteur && partiel.largeur) {
            return false;
        }
        else {
            return false;
        }
    }
    window.onscroll = function () {
        if (estVisible("next")) {
            $('#next').removeClass('glyphicon-play');
            $('#next').addClass('glyphicon-refresh spinning');
            $('#next').trigger("click");
        }
    };
</script>


<div id="results">
  <div class="well">
    <img class="img-circle img-responsive center-block" width="100" height="100" src=<%= image_path("anonymous.png") %>>

    <h3 class="text-justify">
      This search engine guarantees you to remain anonymous from the search engines of the
      market. Indeed, Google, Bing, Yahoo ... will not know you if you use this search engine because we do the search
      for you. We are identified by these search engines.
    </h3>
  </div>
  <div class="well">
    <img class="img-circle img-responsive center-block" width="100" height="100" src=<%= image_path("padlock.png") %>>

    <h3 class="text-justify">
      We also assure you that no data identifying you is preserved. We assure you that the research you carry out is
      not given or sold to any other company. We store searches for optimization or sharing to your friends.
      We do not need your name, surname, address, telephone number, .....
      If you wish you can create an account: only an email address will be asked to you to identify.
    </h3>
  </div>
  <div class="well">
    <img class="img-rounded img-responsive center-block" width="100" height="100" src=<%= image_path("share.png") %>>
    <h3 class="text-justify">
      This search engine offers you the ability to share your searches with your friends.
    </h3>

  </div>

</div>